body {
  background: linear-gradient(to bottom left, #303031, #080808);
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-content {
  max-width: 960px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #f8b74f;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.header-button a {
  color: #303031;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.menu-icon {
  position: absolute;
  top: 5%;
  right: 5%;
  color: rgb(225, 84, 71);
  cursor: pointer;
}

.header-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.menu {
  display: none;
  /* Resto de estilos del menú */
}

.menu.active {
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
  list-style: none;
  margin-top: 40px;
}

#menu li {
  margin-bottom: 10px;
}

#menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#menu li a:hover {
  color: #c69c6d;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  color: white;
}

#intro p {
  text-align: justify;
  margin: 0px 15px 20px 15px;
}

#botonReserva {
  background-color: rgb(225, 84, 71);
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 60%;
}

#botonReserva a {
  color: #303031;
  text-decoration: none;
}

#botonCarta {
  background-color: #f8b74f;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 60%;
}

#imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

#imagenes img {
  width: 90%;
  height: 80%;
  display: none;
  transform: translateX(100%); /* Inicialmente desplazada fuera del contenedor */
  transition: transform 0.4s ease;
}

#imagenes img.active {
  display: block;
  transform: translateX(0%);
}

#cafes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 15%;
}

#cafes h2 {
  width: 80%;
  font-size: 48px;
  color: #c69c6d;
  -webkit-text-stroke: 3px #5c3e1b;
  margin-bottom: 5%;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 80%;
  max-width: 80%;
}

#boton-imagen {
  position: absolute;
  bottom: 15%;
  transform: translateX(-50%, 50%);
  padding: 10px 20px;
  background-color: #ffffff;
  color: #303031;
  border: 2px solid #303031;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-container:hover #boton-imagen {
  opacity: 1;
}

#llevar {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#platoFondoLlevar {
  position: relative;
  width: 90%;
  top: -10%;
  left: -25%;
  height: auto;
}

#platoFrenteLlevar {
  position: absolute;
  top: 10%;
  right: 0%;
  width: 50%;
  height: 100%;
  z-index: 1;
}

#llevar .content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 50%;
  text-align: center;
  color: #ffff;
  z-index: 2;
}

#llevar button {
  font-size: 28px;
  background-color: #c69c6d;
  color: #ffff;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

#contacto {
  display: flex;
  color: white;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 5%;
}

#contacto a {
  color: white;
  text-decoration: none;
}

#contacto a:hover {
  color: #c69c6d;
}

#redes {
  display: flex;
  column-gap: 10px;
}
#redes a {
  text-decoration: none;
}

footer {
  color: white;
  text-align: center;
}
